
      <script>
        function myFunction() {
          let input, filter, ul, li, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("wrapper");
          li = ul.getElementsByClassName("anuncio");

          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("nombre")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
      </script>

      <% include header.html %>
      
      <h2><%= __('Advert list:') %></h2>
      <input type="text" id="myInput" onkeyup="myFunction()">
        <div class="wrapper" id="wrapper">
          <% for (let i = 0; i < anuncios.length; i++) { %>
            <div class="anuncio">
              <h3 class="nombre"> <%= anuncios[i].nombre %></h3>
              <img src=<%= anuncios[i].foto ||'http://localhost:3000/images/sin-foto.png' %> alt="">
              <% if (anuncios[i].venta === false) { %>
                <li> <%= __('Searching') %> </li>
                <% } else { %>
                  <li> <%= __('For sale') %> </li>
                  <% } %>
                  <li><span><%= __('Price:') %></span> <%= anuncios[i].precio %> €</li>
                  <li><span><%= __('Tags:') %></span> <%= anuncios[i].tags %> </li>
                </div>
                <% } %>
              </div>
      <% include footer.html %>